@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;
  
    --title: #313131;
    --text: #B6B6B6;
    
    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);

    --font-title: 'Lexend Deca', sans-serif;
    --font-body: 'Inter', sans-serif;
  
    --style-padding: 17rem;
    --style-title: 1.4rem;

    --pink-light: #ff7eb4;
    --pink: #ff2581;
}

body{
    background: #f3f5f7;
    font-size: 56.25%;
}
/*Personalizando o menu*/
.header{
    background: var(--linear);
    height: 220px;
    width: auto;
}

.container-nav{
    position: relative;
    top: 41px;
    width: 70%;
    margin: 0 auto;
}

.container-nav .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h1{
    color: var(--white);
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 30px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    margin-top: 40px;
    border:none;
    width: 100%;
    height: 65px;

    background: rgba(255, 255, 255, 0.300);

    border-radius: 5px;
}

input{
    color: var(--white);
    font-size: 1.1rem;
    padding-left: 64px;
    font-size: 500;
}

.search input::placeholder{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    opacity: 0.5; 
    
}
.search img{
    position: absolute;
    width: 36px;
    left: 15px;
}

/*Conteudo*/

.main{
    width: 70%;
    margin: 0 auto;

    margin-top: 100px;

    position: relative;
}

.container-news{
    background: #fff;
    padding: 35px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.300);
}
.info-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date{
    font-family: 'Lexend Deca';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 20px;

    color: var(--text);
}

.container-post{
    display: flex;
    justify-content: space-between;
}

img{
    width: 25px;
}

.description h1{
    margin-top: 25px;

    font-family: 'Lexend Deca';
    font-size: 2rem;
    font-weight: 400;
    line-height: 32.5px;
}
.description p{
    margin-top: 18px;

    font-family: 'Lexend Deca';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--text);

}

.link-leia-mais{
    position: absolute;
    right: 80px;
}

.link-leia-mais a{
    color: var(--blue-dark);
    font-size: 1rem;
    font-family: 'Lexend Deca';
    font-weight: 600;
    transition: all2s;
}

.link-leia-mais a:hover{
    border-bottom: 2px solid var(--blue);
}