body{
    background:#f6f6f6;
    font-size: 62.5%;
}

.header{
    background: black;
    color: var(--white);
    height: 60px;
    font-weight: 500;
    line-height: 60px;
    font-size: 2em;
}

.logo{
  height: 40px;
  line-height: 50px;
  font-size: 2.4em;
  font-weight: 600;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro-img{
    width: 100vw;
    height: 59vh;
    background: url(../source/img/wallpaper.jpeg) no-repeat center;
    background-attachment: fixed;
    filter: brightness(50%);
    background-size: cover;
}

.container-text{
    position: absolute;
    top: 130px;
    left: 50px;

    color: var(--white);
}

.container-text h1{
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 4em;

}
.container-text p{
    font-weight: 600;
    font-size: 2em;
}

/*Destaque*/

.display-6{
    padding: 60px 0 10px 0;
    font-weight: 600;
    color: var(--title);
}


/*cards*/
section .card-section{
    display: flex;
    flex-direction: column;

}
.row{
    width: 100%;
}
.cards {
    display:grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit, minmax(250px, 250px));
    justify-content: center;
 }
 .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #F2F2F2;
    
    border: none;
}

.card img{
    width: 80%;
    object-fit: contain;
    cursor: pointer;
    transition: .5s;
}


.card img:hover{
    transform: scale(1.3);
}
/*Digitação*/
.line{
    margin-top: 15px;
    position: relative;
    width: 25em;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/*Animação*/

.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
    from{
        width: 0;
    }
    to{
        width: 25em;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255, 255, 255, .75);
    }   
    to{
        border-right-color: transparent;
    }
}

/*Rodapé*/
footer{
    margin-top: 30px;
    background: black;
    color: var(--white);
    font-size: 1.7em;
    padding: 10px;
    

    font-weight: 500;
}
footer a{
    color: var(--white);
}
footer a:hover{
    color: #cccc;
}


/*Resolução*/
 @media (min-width: 1281px){
    .header{
        font-size: 2.4em;
    }

    .display-6{
        font-size: 5.2em;
    }
    .h6{
        font-size: 2.5em;
    }

 }
 @media (min-width: 1025px) and (max-width: 1280px){
    .header{
        font-size: 2em;
    }
 }

 @media (min-width:320px) and (max-width: 480px){
     .header{
         font-size: 1.8em;
     }
     .container-text h1{
         font-size: 3.1em;
     }
     .container-text p{
         font-size: 1.3em
     }

     .container-text{
        left: 20px;
    }

    .h6{
        width: 80%;
        margin: 0 auto;
        font-size: 1.7em;
    }
 }

 @media (max-width: 320px){
     .header{
         font-size: 1.2em;
     }
     .container-text p{
        font-size: 0.9em
    }

    .container-text{
        top: 100px;
    }

 }